/Java/aula-java/nbproject/private/
/Java/aula-java/build/
/Java/JavaApplication6/nbproject/private/
/Java/TreinandoProva/nbproject/private/
/Java/Desafio-Java/DesafiosAritmeticoJava/nbproject/private/
/Java/Desafio-Java/DesafiosAritmeticoJava/build/